

    <!-- footer-start -->
    <footer>
        <div class="fotter-area d-dark-bg">
            <div class="footer__top pt-80 pb-15">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-4 order-last-md">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title">
                                            <h4>Customer Care</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <div class="footer__link">
                                                <ul>
                                                    <li><a href="{% url 'home' %}">New Customers</a></li>
                                                    <li><a href="{% url 'home' %}">How to use Account</a></li>
                                                    <li><a href="{% url 'home' %}">Placing an Order</a></li>
                                                    <li><a href="{% url 'home' %}">Payment Methods</a></li>
                                                    <li><a href="{% url 'home' %}">Delivery &amp; Dispatch</a></li>
                                                    <li><a href="{% url 'home' %}">Problems with Order</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title">
                                            <h4>Customer Service</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <div class="footer__link">
                                                <ul>
                                                    <li><a href="{% url 'home' %}">Help Center</a></li>
                                                    <li><a href="{% url 'home' %}">Contact Us</a></li>
                                                    <li><a href="{% url 'home' %}">Report Abuse</a></li>
                                                    <li><a href="{% url 'home' %}">Submit a Dispute</a></li>
                                                    <li><a href="{% url 'home' %}">Policies &amp; Rules</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8 order-first-md">
                            <div class="footer__top-left">
                                <div class="row">

                                    <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6">
                                        <div class="row">

                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                <div class="footer__widget">
                                                    <div class="footer__widget-title">
                                                        <h4>My Account</h4>
                                                    </div>
                                                    <div class="footer__widget-content">
                                                        <div class="footer__link">
                                                            <ul>
                                                                <li><a href="{% url 'home' %}">Product Support</a></li>
                                                                <li><a href="{% url 'home' %}">Checkout</a></li>
                                                                <li><a href="{% url 'home' %}">Shopping Cart</a></li>
                                                                <li><a href="{% url 'home' %}">Wishlist</a></li>
                                                                <li><a href="{% url 'home' %}">Terms &amp; Conditions &amp;</a></li>
                                                                <li><a href="{% url 'home' %}">Redeem Voucher</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title">
                                            <h4>Quick Links</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <div class="footer__link">
                                                <ul>
                                                    <li><a href="{% url 'home' %}">Store Location</a></li>
                                                    <li><a href="{% url 'home' %}">My account</a></li>
                                                    <li><a href="{% url 'home' %}">Order Tracking</a></li>
                                                    <li><a href="{% url 'home' %}">FAQs</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div></div>
                                    </div><div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                                        <div class="footer__widget">
                                            <div class="footer__widget-title mb-20">
                                                <h4>About The Store</h4>
                                            </div>
                                            <div class="footer__widget-content">
                                                <p class="footer-text mb-35">Our mission statement is to provide the absolute best customer experience available in the Electronic industry without exception.</p>
                                                <div class="footer__hotline d-flex align-items-center mb-10">
                                                    <div class="icon mr-15">
                                                        <i class="fal fa-headset"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h4>Got Question? Call us 24/7!</h4>
                                                        <span><a href="tel:100-123-456-7890">(+100) 123 456 7890</a></span>
                                                    </div>
                                                </div>
                                                <div class="footer__info">
                                                    <ul>
                                                        <li>
                                                            <span>Add:  <a target="_blank" href="https://goo.gl/maps/c82DDZ8ALvL878Bv8">Walls Street 68, Mahattan, New York, USA</a></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="container">
                    <div class="footer__bottom-content pt-55 pb-45">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="footer__links text-center mb-25">
                                    <p>
                                        <a href="{% url 'home' %}">Online Shopping</a>
                                        <a href="{% url 'home' %}">Promotions</a>
                                        <a href="{% url 'home' %}">My Orders</a>
                                        <a href="{% url 'home' %}">Help</a>
                                        <a href="{% url 'home' %}">Customer Service</a>
                                        <a href="{% url 'home' %}">Support</a>
                                        <a href="{% url 'home' %}">Most Populars</a>
                                        <a href="{% url 'home' %}">New Arrivals</a>
                                        <a href="{% url 'home' %}">Special Products </a>
                                        <a href="{% url 'home' %}">Manufacturers</a>
                                        <br>
                                        <a href="{% url 'home' %}">Garden Equipments</a>
                                        <a href="{% url 'home' %}">Powers And Hand Tools </a>
                                        <a href="{% url 'home' %}">Utensil &amp; Gadget </a>
                                        <a href="{% url 'home' %}">Printers</a>
                                        <a href="{% url 'home' %}">Projectors</a>
                                        <a href="{% url 'home' %}">Scanners</a>
                                        <a href="{% url 'home' %}">Store</a>
                                        <a href="{% url 'home' %}">Business</a>
                                    </p>
                                </div>
                                <div class="payment-image text-center mb-25">
                                    <a href="{% url 'contact' %}"><img src="/static/assets/img/payment/payment.png" alt=""></a>
                                </div>
                                <div class="copy-right-area text-center">
                                    <p>Copyright © <span>DukaMarket.</span> All Rights Reserved. Powered by <a href="#"><span class="main-color">Theme_Pure.</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->
